body {
    font-family: 'Arial', 'Liberation Sans', sans-serif;
    font-size: 1.2em;
    line-height: 1.1em;
    color: #444444;

    margin: 2% auto;
    max-width: 1250px;
}

label {
    display: inline-block;
    width: 140px;
    text-align: right;
}

fieldset {
    border: solid 1px #D6DAF0 !important;
    padding: 15px;
}

fieldset legend {
    font-size: 1.3rem;
}
table {
    width: 1250px;
    border: solid 1px #D6DAF0;
    border-collapse: collapse;
    border-spacing: 0;
}
table thead th {
    background-color: #EEF2FF;
    border: solid 1px #D6DAF0;
    padding: 10px;
    text-align: left;
}
table tbody td {
    border: solid 1px #D6DAF0;
    padding: 10px;
}