<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/static/css/global.css">

    <title>Dashboard de Control de muros verdes</title>
</head>
<body>    
    <h2>Muros activos actualmente</h2>

    <fieldset>
    <legend>Registrar nuevo muro verde</legend>
    
    <form action="/muro/new" method="POST">
        <div class="form-row">
            <label for=t1>Ubicación</label>
            <input id="t1" type="text" name="ubicacion" required>

            <label for=t2>Frecuencia (horas)</label>
            <input id="t2" type="text" width="2" name="frecuencia_regado" 
                value="{{defaults.default_frequency}}">

            <label for=t1>Duración (segundos)</label>
            <input id="t2" type="text" width="2" name="duracion_regado" 
                value="{{defaults.default_duration}}">
        </div>
        
        <div class="form-row">
            <input type="submit" value="Crear">
        </div>
    
    </form>
    </fieldset>

    <br/>

    <table>
        <thead>
            <th>OID</th>
            <th>Ubicación</th>
            <th>Frecuencia de Regado</th>
            <th>Duración de regado</th>
            <th>Fecha de creación</th>
            <th>Mediciones</th>
            <th>Acciones</th>
        </thead>
        <tbody>
            {% for m in muros %}
            <tr>
                <td>{{m._id}}</td>
                <td>{{m.ubicacion}}</td>
                <td>{{m.frecuencia_regado}} horas</td>
                <td>{{m.duracion_regado}} segundos</td>
                <td>{{m.fecha.strftime('%d-%m-%Y %H:%M')}}</td>
                <td> <a href="/mediciones/{{m._id}}">Ver Mediciones</a></td>
                <td> <a href="" onclick="delete_muro('{{m._id}}')">Eliminar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <p><a href="logoff">Cerrar Sesión</a></p>
</body>
<script src="static/js/dash.js"></script>
</html>