<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/static/css/global.css">

    <title>Mediciones</title>
</head>
<body>    
    <h2>Mediciones para {{oid}}</h2>

    <br/>

    <table>
        <thead>
            <th>Temperatura</th>
            <th>Humedad</th>
            <th>Timestamp</th>
        </thead>
        <tbody>
            {% for m in mediciones %}
            <tr>
                <td>{{m.temp}}</td>
                <td>{{m.humedad}}</td>
                <td>{{m.fecha}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>